
---
layout: post
slug: "photos"
title: "相册"
noDate: "true"
comments: "true"
reward: "true"
open_in_new: false
---
<link rel="stylesheet" href="./ins.css">
<div class="photos-btn-wrap">
	<a class="photos-btn" href="/photos">相册</a>
	<a class="photos-btn active" href="/photos/videos.html">视频</a>
</div>

<center><h1>曼走：第一集 科比告别之旅</h1></center>
<hr/>

<center>
<div class="video-container">
<iframe height="80%" width="80%" src="http://player.youku.com/embed/XMTUyNzcyOTkwOA=="
	frameborder=0 allowfullscreen>
</iframe>
</div>
</center>


<hr/>

<center><h1>曼走：第二集 高中生得分王科比</h1></center>
<hr/>
<center>
<div class="video-container">
<iframe height="80%" width="80%" src="http://player.youku.com/embed/XMTUzNTk0NDkxMg==" 
    frameborder=0 allowfullscreen>
</iframe>
</div>
</center>
<hr/>

<center><h1>曼走：第三集 亦敌亦友之鲨鱼</h1></center>
<hr/>
<center>
<div class="video-container">
<iframe height="80%" width="80%" src="http://player.youku.com/embed/XMTUyOTM2MzA0MA==" 
    frameborder=0 allowfullscreen>
</iframe>
</div>
</center>

